@charset "UTF-8";
/* CSS Document */

body{
	background-image: url("../images/05-white-brick.png");
	background-repeat: repeat;
	margin: 0;
	font-family:"Noto Sans JP","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

main {
	margin-top: 80px;
	padding: 0 10px;

}

header{
	width: 100%;
	background-color: rgba(245,243,238,0.9);
	font-family: 'Reem Kufi', sans-serif;
	position: fixed;
	top: 0;
	z-index: 10;
}
header ul{
	max-width:800px;
	display: flex;
	padding: 0 10px;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;

}
header ul li{
	font-size: 26px;
	list-style: none;
	 padding: 0 10px;
	 text-align: center;
}
header a{
	color: #10203d;
	text-decoration: none;
	transition: all .3s;
}
header a:hover{
	color: #14a7a9;
}

h1 {
	margin: 0;
}
section{
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
}

.scroll-in {
	opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: opacity 1s, visibility 1s, transform 1s;

}

.is-fadein {
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
  }

h2{
	font-family: 'Reem Kufi', sans-serif;
	font-size: 50px;
	color: #14a7a9;
	text-align: right;
	margin: 0px;
	letter-spacing: -0.03em;
}
  .leftAnime {
    opacity: 0;
    overflow: hidden;
    display: inline-block;
  }
 
  .leftAnimeInner {
    display: inline-block;
	padding: 0 20px;
  }

  .slideAnimeLeftRight {
    animation-name: slideTextX100;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
 
  @keyframes slideTextX100 {
    from {
      transform: translateX(-100%);
      /*要素を左の枠外に移動*/
      opacity: 0;
    }
 
    to {
      transform: translateX(0);
      /*要素を元の位置に移動*/
      opacity: 1;
    }
  }

  .slideAnimeRightLeft {
    animation-name: slideTextX-100;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
 
 
  @keyframes slideTextX-100 {
    from {
      transform: translateX(100%);
      /*要素を右の枠外に移動*/
      opacity: 0;
    }
 
    to {
      transform: translateX(0);
      /*要素を元の位置に移動*/
      opacity: 1;
    }
  }

  .scroll_txt {
	color: #a9a9a9;
	font-size: 30px;
	text-align: center;
	font-family: 'Reem Kufi', sans-serif;
	animation: flash 1.5s linear infinite;
	position: relative;
	margin: 60px 0 0;
	padding: 0 0 10px;
  }

  .scroll_txt::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -7px;
	width: 14px;
	height: 14px;
	border-top: 2px solid #a9a9a9;
	border-right: 2px solid #a9a9a9;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}
  @keyframes flash {
  
	0%,20%,30%,100% {
	  opacity: 0;
	}
  
	90% {
	  opacity: 1;
	}
	
  
  }

h3{
	font-family: 'Reem Kufi', sans-serif;
	font-size: 70px;
	color: #10203d;
	margin: 0;
}
h3 span{
	color: #14a7a9;
}
h4{
	font-size: 22px;
	color: #10203d;
}

h4.mt{
	margin-top: 100px;
}
#about p{
	font-size: 19px;
	color: #10203d;
	font-family: 'Sawarabi Gothic', sans-serif;
}
.skill{
	display: flex;
	justify-content: space-between;
}
.skill p{
	font-size: 19px;
	color: #10203d;
	font-family: 'Sawarabi Gothic', sans-serif;
}
.skill1{
	width: 60%;
}
.skill2{
	width: 30%;
}

#workweb p{
	font-size: 19px;
	color: #10203d;
	font-family: 'Sawarabi Gothic', sans-serif;
	margin-top: 20px;
}

.homepage{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
}

.homepage img{
	width: 48%;
	height: auto;
	margin-top: 40px;
}

.homepage img:nth-child(-n +2){
	margin-top: 0;
}
.cafe{
	margin-top: 150px;
}
.top-r{
	width: 200px;
	height: auto;
}
.komorebi3{
	display: inline-block;
}
.komorebi{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	align-items: flex-start;
}
.komorebi2{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	align-items: flex-start;
}
.acces{
	margin-top: 50px;
}
.responsive{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	align-items: flex-start;
}
.pack-d{
	width: 100%;
	height: auto;
}
.pack-r{
	width: 100%;
	height: auto;
}
.packpack{
	display: flex;
	justify-content: space-between;
}

.package-pic {
	flex: 0 0 72%;
	margin-right: 2%;
}
#workdtp p{
	font-size: 20px;
	color: #10203d;
	font-family: 'Sawarabi Gothic', sans-serif;
	margin-top: 20px;
}
.package{
	height: auto;
	margin-top: 30px;
}

.site_list {
	padding: 0;
	margin: 0 0 0 1em;
}

.site_list li{
	margin-top: 10px;
}

.site_list li a {
	text-decoration: none;
	color: #10203d;
	font-size: 20px;
	transition: all .3s;
	display: inline-block;
	padding-right: 20px;
	position: relative;
	transition: all .3s;
}
.site_list li a::before {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	margin-top:-4px;
	width: 8px;
	height: 8px;
	border-top: 2px solid #10203d;
	border-right: 2px solid #10203d;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	transition: all .3s;

}

.site_list li a:hover{
	color: #14a7a9;
}

.site_list li a:hover::before{
	right: -10px;
	border-top: 2px solid #14a7a9;
	border-right: 2px solid #14a7a9;
}

.name_card_block {
	display: flex;
	justify-content: space-between;
}

.name_card_block >div {
	flex: 0 0 49%;
	box-shadow: 8px 5px 5px rgba(0,0,0,0.3);
	font-size: 0;
}

footer {
	padding: 80px 10px 10px;
}
footer p{
	font-size: 12px;
	text-align: right;
}

@media screen and (max-width:640px){

	header ul {
		flex-wrap: wrap;
		margin: 5px 0;
	}

	header ul li{
		font-size: 22px;
		 padding: 0 10px;
		 flex: 0 0 33.3%;
		 box-sizing: border-box;
	}

	header ul li:nth-child(4n){
		 flex: 0 0 50%;
	}

	header ul li:nth-child(5n){
		flex: 0 0 50%;
   }

   header a:hover{
	color: #10203d;
}

   section {
	padding-top: 70px;

   }

	.homepage {
		display: block;
		margin-top: 20px;
	}
	.homepage img {
		width: 100%;
		margin-top: 20px;
	}

	h2{
		font-size: 30px;
	}

	h3 {
		font-size: 50px;
	}

	h4 {
		margin-bottom: 15px;
		margin-top: 20px;
	}

	.skill {
		display: block;
	}

	.skill1{
		width: auto;
	}
	.skill2{
		width: auto;
		margin-top: 40px;
	}

	.name_card_block {
		display: block;

	}

	.name_card_block >div {
		margin-top: 15px;
		
	}

}